.cache/
.config/
.dotnet/
.git/
.local/
.nv/
.vscode-server/
basecode/
lightning_logs/
data/
predictions/
output/
.netrc
.profile
.viminfo
.wget-hsts
.ipynb_checkpoints/
.jupyter/
*.pyc
checkpoints
.bash_history
nohup.out
*.pt
.venv
code/
*.tar.gz
*.csv
*._code
/results
test.py
.gitignore
outputs/
